* {
    margin:0;
    padding:0;
    font-family: 'M PLUS Rounded 1c', 'Noto Sans JP', sans-serif;
}
/* ナビゲーションバー*/
.site-header {
    background: #7dcdf4;
    display: flex;
    padding: 0px 0px;
    margin: 0;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    gap:0;
}
.site-logo{
    position: relative;
	display: block;
	overflow: hidden;
	cursor: pointer;
    margin: 10px;
    height: 60px;
    width: 170px;
  }
.site-logo img {
    position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 100%;
    display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.site-logo a:hover img:nth-of-type(2) {
    -webkit-transform: translate(-50%, -50%) scale(1.15) !important;
    transform: translate(-50%, -50%) scale(1.15) !important;
    opacity: 0;
}
.site-logo a:focus img:nth-of-type(2) {
    -webkit-transform: translate(-50%, -50%) scale(1.15) !important;
    transform: translate(-50%, -50%) scale(1.15) !important;
    opacity: 0;
}
#gnav {
    margin: 15px 10px 0 0;
}
ul {
    margin-top:5px;
    padding:0;
    display:inline-block;
    text-align:center;
    height:40px;
    overflow:hidden;
}
ul li a {
    text-decoration:none;
    text-transform:uppercase;
    color:#000;
}
ul li {
    padding: 0 10px;
    float:left;
    height:100%;
    list-style:none;
    margin:0;
}
ul li:nth-child(2) {
    border:solid #4c4c4c;
    border-width:0 0 0 1px;
}
ul li * {
    display:inline-block;
    font-size:1.2em;
    line-height:50px;
}
ul li a {
    margin-top:-50px;
    transition:0.3s cubic-bezier(0.1, 0.1, 0.5, 1.4);
}
ul li a:hover { 
    margin-top:0;
}
ul li a:focus { 
    margin-top:0;
}
ul li a:before {
    content:attr(data-text);
    display:block;
    color:#ffffff;
}
/* ナビゲーション分の余白 */
#content {
    padding-top:80px;
}